<!DOCTYPE html> 
<html> 

<head> 
	<title>SPECTRE Tables Scrollable tables Class</title> 
	<link rel="stylesheet"
		href= 
"https://unpkg.com/spectre.css/dist/spectre.min.css"> 
	<link rel="stylesheet"
		href= 
"https://unpkg.com/spectre.css/dist/spectre-exp.min.css"> 
	<link rel="stylesheet"
		href= 
"https://unpkg.com/spectre.css/dist/spectre-icons.min.css"> 
</head> 

<body> 
	<center> 
		<h1 class="text-success">GeeksforGeeks</h1> 
		<strong>SPECTRE Tables Scrollable tables Class</strong> 
		<br> 
        <table class="table table-scroll">
            <thead>
                <tr>
                    <th>Series_reference</th>
                    <th>Period</th>
                    <th>Data_value</th>
                    <th>Suppressed</th>
                    <th>STATUS</th>
                    <th>UNITS</th>
                    <th>Magnitude</th>
                    <th>Subject</th>
                    <th>Group</th>
                    <th>Series_title_1</th>
                    <th>Series_title_2</th>
                    <th>Series_title_3</th>
                    <th>Series_title_4</th>
                    <th>Series_title_5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2016.06</td>
                    <td>1116.386</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2016.09</td>
                    <td>1070.874</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2016.12</td>
                    <td>1054.408</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2017.03</td>
                    <td>1010.665</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2017.06</td>
                    <td>1233.7</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2017.09</td>
                    <td>1282.436</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2017.12</td>
                    <td>1290.82</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2018.03</td>
                    <td>1412.007</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2018.06</td>
                    <td>1488.055</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2018.09</td>
                    <td>1497.678</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2018.12</td>
                    <td>1570.507</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2019.03</td>
                    <td>1393.749</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BDCQ.SF1AA2CA</td>
                    <td>2019.06</td>
                    <td>1517.143</td>
                    <td></td>
                    <td>F</td>
                    <td>Dollars</td>
                    <td>6</td>
                    <td>Business Data Collection - BDC</td>
                    <td>Industry by financial variable (NZSIOC Level 2)</td>
                    <td>Sales (operating income)</td>
                    <td>Forestry and Logging</td>
                    <td>Current prices</td>
                    <td>Unadjusted</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
	</center> 
</body> 

</html>
